# Dossiers de binaires (Compilation Eclipse)
Robi/bin/
SParser/bin/
2DGraphicCore/bin/

# Fichiers de classe isolés
*.class

# Configuration utilisateur Eclipse (évite les conflits de workspace)
.metadata/
.settings/
.recommenders/